{% extends  'core/base.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/css/home_page.css">
{% endblock %}

{% block main %}
    {% if conferences %}
        <div class="container">
            {% for conference in conferences %}
                <div class="row{{ conference.id }}">
                    <div class="col border border-dark rounded"
                         style="float: left; margin-top: 10px">
                        <a href="/edit_application/{{ conference.app_id }}"
                           methods="POST"
                           style="float: right; font-size: 10px">РЕДАКТИРОВАТЬ</a>
                        <h3>Конференция: {{ conference.theme }}</h3>
                        <div class="row{{ conference.id }}">
                            <div class="col{{ conference.id }}">
                                <h3>Дата
                                    проведения: {{ conference.date_to_str }}</h3>
                                <h3>Статус: {{ conference.status }}</h3>
                                <h3>
                                    Описание: {{ conference.app_description }}</h3>
                                <h3>Вложение: <a href="{{ conference.app_file.url }}">Файл</a></h3>
                            </div>

                            {% if user.is_superuser %}
                                <a class="btn btn-outline-primary"
                                   methods="post"
                                   href=""
                                   style="margin-bottom: 10px; text-align: center">Посмотреть
                                    заявки</a>
                            {% else %}
                                {#                            <a class="btn btn-outline-primary" methods="post"#}
                                {#                               href=""#}
                                {#                               style="margin-bottom: 10px; text-align: center">#}
                                {#                                Сообщения</a>#}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Пока пусто.</p>
    {% endif %}

{% endblock %}
