{% extends  'core/base.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/css/home_page.css">
{% endblock %}

{% block main %}
        {% if applications %}
            <div class="container">
                {% for app in applications %}
                    <div class="row{{ app.id }}" style="margin-top: 10px">
                        <div class="col border border-dark rounded" style="float: left; margin-bottom: 10px">
                            <div class="row{{ app.id }}">
                                <div class="col">
                                    {% if user.is_superuser %}
                                    {% else %}
                                    <h3>Описание: {{ app.description }}
                                        <a style="font-size: 18px; float: right" href="/edit_application/{{ app.id }}"> Изменить</a>
                                    </h3>
                                    {% endif %}
                                <h3>Автор: {{ app.author }}</h3>
                                <h3>Должнось: {{ app.degree }}</h3>
                                <h3>Описание: {{ app.description }}</h3>
                                    <h3>
                                        Статус {{ app.status }}</h3>
                                    <h3>
                                        <a href="{{ app.file.url }}">Вложение</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Заявки отсутствуют.</p>
        {% endif %}

{% endblock %}