{% extends  'core/base.html' %}

{% block header %}
    <link rel="stylesheet" href="/static/css/conference.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}
    <title>Конференции</title>
{% endblock %}

{% block main %}
    {% if conferences %}
        <div class="container">
            {% for conference in conferences %}
                <div class="row" style="margin-top: 10px">
                    <div class="col border border-dark rounded">
                        {% if user.is_superuser %}
                            <a href="{% url 'edit_conference' conf_id=conference.id %}" style="float: right; font-size: 12px">РЕДАКТИРОВАТЬ</a>
                        {% endif %}
                        <h3>{{ conference.theme }}</h3>
                        <div class="row">
                            <div class="col">
                                <h3>Дата
                                    проведения: {{ conference.date_to_str }}</h3>
                                <h3>Описание {{ conference.description }}</h3>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                            <a class="btn btn-outline-primary" methods="post"
                               href="/view_applications/{{ conference.id }}"
                               style="margin-bottom: 10px; text-align: center">Посмотреть
                                заявки</a>
                        {% else %}
                            {% if user.is_authenticated %}
                                <a class="btn btn-outline-primary"
                                   methods="post"
                                   href="/create_application/{{ conference.id }}"
                                   style="margin-bottom: 10px; text-align: center">Подать
                                    заявку</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Пока не создано конференций</p>
    {% endif %}
{% endblock %}